.search-container {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #222222;
  border-radius: 9999px;
  padding: 8px 12px;
  margin: 20px;
}

.search-input {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 15px;
  color: #8899a6;
  font-weight: 600;
}
.search-icon {
  font-size: 15px;
  color: #8899a6;
  margin-right: 8px;
  transition: fill 0.2s;
}

.search-input::placeholder {
  color: #8899a6;
  font-weight: 300;
}
