@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.App {
  display: grid;
  grid-template-columns: 275px auto 350px;
  margin: 0 auto;
  min-height: 100vh;
  gap: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: #e3e3e3;
}
