.leftSidebar {
  border-right: 0.667px rgb(113, 118, 123) solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.brandIcon {
  font-size: 30px;
  padding: 10px;
}
@media (max-width: 768px) {
  .leftSidebar {
    display: none;
  }
}
