.leftSidebar {
  border-right: 0.667px rgb(113, 118, 123) solid;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100vh;
  overflow-y: hidden;
}

.brandIcon {
  font-size: 30px;
  padding: 10px;
}

.leftSidebar.collapsed {
  align-items: center;
  gap: 0;
  padding-right: 10px;
}

.leftSidebar.collapsed .brandIcon {
  padding: 12px 0;
}
