.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 9999px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.2s;
}

.Button--small {
  padding: 4px 10px;
  font-size: 12px;
}
.Button--medium {
  padding: 6px 16px;
  font-size: 15px;
}
.Button--large {
  padding: 10px 100px;
  font-size: 16px;
  width: 90%;
}

.Button--blue {
  background-color: #1d9bf0;
  color: white;
}
.Button--blue:hover {
  background-color: #1a8cd8;
}
.Button--black {
  background-color: black;
  color: white;
}
.Button--white {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
}
.Button--white:hover {
  background-color: #f0f0f0;
}
